html, body{
  margin: 0px;
  padding: 0px;
  font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.containerBody{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns:[maincolumn]100%;
  grid-auto-rows:[row1]100px [row2]auto [row3]100px;
}

.nav-wrapper{
  background-color: #212121;
  padding-left: 5%;
  padding-right: 5%;
}
#contentID {
  background-color: grey;
  width: 100%;
  height: auto;
}

#img1, #img2, #img3{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#img1{
  width: 100%;
  height: 100vh;
  background-image: url(../img/horsehead-nebula-dark-nebula-constellation-orion-87646.jpeg);
  opacity: 0.5;
}
#img2{
  width: 100%;
  height: 300px;
  background-image: url(../img/pexels-photo-248159.jpeg);
  opacity: 0.3;
}
#img3{
  width: 100%;
  height: 400px;
  background-image: url(../img/pexels-photo-401107.jpeg);
  opacity: 0.4;
}
.landingtext {
  color: white;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.landingtext h3{
  font-size: 50px;
}
.landingtext p{
  font-size: 20px;
}

h2.learn, h2.test, h2.deploy{
  color: purple;
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20% 20% 0 20%;

}
.text1, .text2, .text3{
  font-size: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 20% 20% 20%;
}

#separation1{
  background-color: #f5f5f5;
  width: 100%;
  height: 140px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}
#separation2{
  background-color: #3e2723;
  color: white;
  width: 100%;
  height: 200px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}
#footerID{
  background-color: black;
  width: 100%;
  height: 300px;
  color: white;
  text-align: center;
}
